## Travis-CI YAML to publish webworldwind-x to GitHub Pages
language: node_js
node_js:
  - "v10.15.3"
dist: trusty
sudo: required
addons:
  chrome: stable
cache:
  directories:
  - node_modules
script:
#  - npm test
  - npm run build
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_API_KEY
  local_dir: dist
  on:
branch: master
